<%= stylesheet_link_tag "team/aerostructure", :media => "all" %>

<div id='aerostructures' class="collapse">
  <p><%= t 'team.aerostructure.description'%></p>
  <h3><%= t 'team.aerostructure.team'%></h3>
  <div>
    <div class="collapse-boxes">
      <ul class=subteams>
        <div class="aerostructures section">
          <div>
              <li>
                <button class="link-button" data-toggle="collapse" data-target="#aerostructures-section" aria-expanded="true" aria-controls="outreach">
                <h3>kjhbmbv jbiklbjhliujnkjnjknknk</h3>
                </button>
              </li>
          </div>
          <div class="sub-section">
            <p id="aerostructures">kjkjb kh k jh j jn mn mn nm </p>
            <div class="under-images">
              <%= image_tag "leads/rory.JPG" %>
              <%= image_tag "leads/rory.JPG" %>
              <%= image_tag "leads/rory.JPG" %>
            </div>
          </div>
        </div>
        <div class="aerodynamics section">
          <div>
              <li>
                <button class="link-button" data-toggle="collapse" data-target="#aerodynamics" aria-expanded="true" aria-controls="outreach">
                <h3>jhvjbn m </h3>
                </button>
              </li>
          </div>
          <div class="sub-section">
            <p id="aerodynamics">hjbhvjh   nb n b</p>
            <div class="under-images">
              <%= image_tag "leads/rory.JPG" %>
              <%= image_tag "leads/rory.JPG" %>
              <%= image_tag "leads/rory.JPG" %>
            </div>
          </div>
        </div>
        <div class="manufacturing section">
          <div>
              <li>
                <button class="link-button" data-toggle="collapse" data-target="#manufacturing" aria-expanded="true" aria-controls="outreach">
                <h3>jkbujvihbkbhjb</h3>
                </button>
              </li>
          </div>
          <div class="sub-section">
            <p id="manufacturing">jhvvhb nb hjvhvjhvvhjhvhj</p>
            <p>uygilohuihhgihiu</p>
            <div class="under-images">
              <%= image_tag "leads/rory.JPG" %>
              <%= image_tag "leads/rory.JPG" %>
              <%= image_tag "leads/rory.JPG" %>
            </div>
          </div>
        </div>
              <div class="recovery-section">
          <div>
              <li>
                <button class="link-button" data-toggle="collapse" data-target="#recovery-section" aria-expanded="true" aria-controls="outreach">
                <h3>jhgikgg</h3>
                </button>
              </li>
          </div>
          <div class="sub-section">
            <p id="recovery">jnjgv kiubh vhv j j  h jbihib h </p>
            <p>jhbilh vliubiuhbuih jv ubujbu</p>
            <div class="under-images">
              <%= image_tag "leads/rory.JPG" %>
              <%= image_tag "leads/rory.JPG" %>
              <%= image_tag "leads/rory.JPG" %>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>