<%= stylesheet_link_tag "team/aerostructure", :media => "all" %>

<div id='aerostructures' class="collapse">
  <hr>
  <div class='team-desc'>
    <p><%= t 'team.aerostructure.description' %></p>
  </div>
  <div class='subteam-text'>
    <p><%= t 'team.aerostructure.team' %></p>
  </div>
  <div class='subteam-section'>
    <ul class='subteams'>
      <li>
        <div class='subteam-title'>
          <h3><%= t 'team.subteams.aerostructures.title' %></h3>
        </div>
        <div class='desc-sections'>
          <div class='subteam-desc'>
            <p><%= t 'team.subteams.aerostructures.desc' %></p>
          </div>
          <div class='subteam-img'>
            <%= image_tag "teams/avionics/avionicsmeeting.png" %>
            <%= image_tag "teams/avionics/avionicsmeeting.png" %>
            <%= image_tag "teams/avionics/avionicsmeeting.png" %>
          </div>
        </div>
      </li>
      <li>
        <div class='subteam-title'>
          <h3><%= t 'team.subteams.aerodynamics.title' %></h3>
        </div>
        <div class='desc-sections'>
          <div class='subteam-desc'>
            <p><%= t 'team.subteams.aerodynamics.desc' %></p>
          </div>
          <div class='subteam-img'>
            <%= image_tag "teams/avionics/avionicsmeeting.png" %>
            <%= image_tag "teams/avionics/avionicsmeeting.png" %>
            <%= image_tag "teams/avionics/avionicsmeeting.png" %>
          </div>
        </div>
      </li>
      <li>
        <div class='subteam-title'>
          <h3><%= t 'team.subteams.manufacturing.title' %></h3>
        </div>
        <div class='desc-sections'>
          <div class='subteam-desc'>
            <p><%= t 'team.subteams.manufacturing.desc' %></p>
            <p><%= t 'team.subteams.manufacturing.resp'%></p>
          </div>
          <div class='subteam-img'>
            <%= image_tag "teams/avionics/avionicsmeeting.png" %>
            <%= image_tag "teams/avionics/avionicsmeeting.png" %>
            <%= image_tag "teams/avionics/avionicsmeeting.png" %>
          </div>
        </div>
      </li>
      <li>
        <div class='subteam-title'>
          <h3><%= t 'team.subteams.recovery.title' %></h3>
        </div>
        <div class='desc-sections'>
          <div class='subteam-desc'>
            <p><%= t 'team.subteams.recovery.desc' %></p>
            <p><%= t 'team.subteams.recovery.resp' %></p>
          </div>
          <div class='subteam-img'>
            <%= image_tag "teams/avionics/avionicsmeeting.png" %>
            <%= image_tag "teams/avionics/avionicsmeeting.png" %>
            <%= image_tag "teams/avionics/avionicsmeeting.png" %>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>