<%= stylesheet_link_tag "team/aerostructure", :media => "all" %>

<div id='aerostructures' class="collapse">
  <hr>
  <div class='team-desc'>
    <p><%= t 'team.aerostructure.description' %></p>
  </div>
  <div class='subteam-text'>
    <p><%= t 'team.aerostructure.team' %></p>
  </div>
  <div class='subteam-section'>
    <ul class='subteams'>
      <li>
        <div class='subteam-title'>
          <h3><%= t 'team.aerostructure.subteams.aerostructures.title' %></h3>
        </div>
        <div class='desc-sections'>
          <div class='subteam-desc'>
            <p><%= t 'team.aerostructure.subteams.aerostructures.desc' %></p>
          </div>
          <div class='subteam-img'>
            <%= image_tag "teams/aerostructures/aerostructure/Glider Tech Drawing.webp" %>
            <%= image_tag "teams/aerostructures/aerostructure/Meeting Pic2.webp" %>
            <%= image_tag "teams/aerostructures/aerostructure/Capsule w Diffuser Design.webp" %>
          </div>
        </div>
      </li>
      <li>
        <div class='subteam-title'>
          <h3><%= t 'team.aerostructure.subteams.aerodynamics.title' %></h3>
        </div>
        <div class='desc-sections'>
          <div class='subteam-desc'>
            <p><%= t 'team.aerostructure.subteams.aerodynamics.desc' %></p>
          </div>
          <div class='subteam-img'>
            <%= image_tag "teams/aerostructures/aerostructure/Meeting Pic4.webp" %>
            <%= image_tag "teams/aerostructures/aerostructure/Glider Wings.webp" %>
            <%= image_tag "teams/aerostructures/aerostructure/GEM.webp" %>
          </div>
        </div>
      </li>
      <li>
        <div class='subteam-title'>
          <h3><%= t 'team.aerostructure.subteams.manufacturing.title' %></h3>
        </div>
        <div class='desc-sections'>
          <div class='subteam-desc'>
            <p><%= t 'team.aerostructure.subteams.manufacturing.desc' %></p>
            <p><%= t 'team.aerostructure.subteams.manufacturing.resp'%></p>
          </div>
          <div class='subteam-img'>
            <%= image_tag "teams/aerostructures/manufacturing/3D Print.webp" %>
            <%= image_tag "teams/aerostructures/manufacturing/Pic.webp" %>
          </div>
        </div>
      </li>
      <li>
        <div class='subteam-title'>
          <h3><%= t 'team.aerostructure.subteams.recovery.title' %></h3>
        </div>
        <div class='desc-sections'>
          <div class='subteam-desc'>
            <p><%= t 'team.aerostructure.subteams.recovery.desc' %></p>
            <p><%= t 'team.aerostructure.subteams.recovery.resp' %></p>
          </div>
          <div class='subteam-img'>
            <%= image_tag "teams/aerostructures/recovery/Diffuser Design Process:Ideas.webp" %>
            <%= image_tag "teams/aerostructures/recovery/Diffuser.webp" %>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>