<%= stylesheet_link_tag "team/avionics", :media => "all" %>

<div id='avionics' class="collapse">
  <hr>
  <div class='team-desc2'>
    <p><%= t 'team.avionics.desc' %></p>
  </div>
  <div class='desc-sections2'>
    <div class='subteam-desc2'>
      <p><%= t 'team.avionics.section.desc' %></p>
    </div>
    <div class='subteam-img2'>
      <%= image_tag "teams/avionics/Electronics PCB.png" %>
    </div>
  </div>
  <div class='desc-sections2'>
    <div class='subteam-img2'>
      <%= image_tag "teams/avionics/avionicsmeeting.png" %>
    </div>
    <div class='subteam-desc2'>
      <p><%= t 'team.avionics.section.desc2' %></p>
    </div>
  </div>
  <div class='intro-lead2'>
    <div class='intro-text2'>
      <h3><%= t 'team.avionics.intro.title' %></h3>
    </div>
    <div class='desc-sections3'>
      <div class='subteam-desc3'>
        <p><%= t 'team.avionics.intro.text' %></p>
      </div>
      <div class='subteam-img3'>
        <%= image_tag "member/avionics.png" %>
      </div>
    </div>
  </div>
</div>