<%= stylesheet_link_tag "team/resources", :media => "all" %>

<div id='resources' class="collapse">
  <hr>
  <div class='team-desc'>
    <p><%= t 'team.resources.description' %></p>
  </div>
  <div class='subteam-text'>
    <p><%= t 'team.aerostructure.team' %></p>
  </div>
  <div class='subteam-section'>
    <ul class='subteams'>
      <li>
        <div class='subteam-title'>
          <h3><%= t 'team.resources.subteams.outreach.title' %></h3>
        </div>
        <div class='desc-sections'>
          <div class='subteam-desc'>
            <p><%= t 'team.resources.subteams.outreach.desc' %></p>
          </div>
        </div>
      </li>
      <li>
        <div class='subteam-title'>
          <h3><%= t 'team.resources.subteams.media.title' %></h3>
        </div>
        <div class='desc-sections'>
          <div class='subteam-desc'>
            <p><%= t 'team.resources.subteams.media.desc' %></p>
          </div>
        </div>
      </li>
      <li>
        <div class='subteam-title'>
          <h3><%= t 'team.resources.subteams.event.title' %></h3>
        </div>
        <div class='desc-sections'>
          <div class='subteam-desc'>
            <p><%= t 'team.resources.subteams.event.desc' %></p>
          </div>
        </div>
      </li>
    </ul>
    <div class='intro-lead2'>
      <div class='intro-text2'>
        <h3><%= t 'team.avionics.intro.title' %></h3>
      </div>
      <div class='desc-sections2'>
        <div class='subteam-desc2'>
          <p><%= t 'team.resources.intro.text' %></p>
        </div>
        <div class='subteam-img2'>
          <%= image_tag "teams/avionics/avionicsmeeting.png" %>
        </div>
      </div>
    </div>
  </div>
</div>