<%= stylesheet_link_tag "team/webdev", :media => "all" %>

<div id='webdevelopers' class="collapse">
  <hr>
  <div class='team-desc'>
    <p><%= t 'team.webdev.description' %></p>
  </div>
  <div class='subteam-text'>
    <p><%= t 'team.aerostructure.team' %></p>
  </div>
  <div class='subteam-section'>
    <ul class='subteams'>
      <li>
        <div class='subteam-title'>
          <h3><%= t 'team.webdev.subteams.dev.title' %></h3>
        </div>
        <div class='desc-sections2'>
          <div class='subteam-desc2'>
            <p><%= t 'team.webdev.subteams.dev.desc' %></p>
          </div>
          <div class='subteam-img2'>
            <%= image_tag "teams/webdev/webdevpic.png" %>
          </div>
        </div>
      </li>
      <li>
        <div class='subteam-title'>
          <h3><%= t 'team.webdev.subteams.design.title' %></h3>
        </div>
        <div class='desc-sections2'>
          <div class='subteam-desc2'>
            <p><%= t 'team.webdev.subteams.design.desc' %></p>
          </div>
          <div class='subteam-img2'>
            <%= image_tag "teams/webdev/omardesign.png" %>
          </div>
        </div>
      </li>
    </ul>
    <div class='intro-lead2'>
      <div class='intro-text2'>
        <h3><%= t 'team.webdev.intro.title' %></h3>
      </div>
      <div class='desc-sections3'>
        <div class='subteam-desc3'>
          <p><%= t 'team.webdev.intro.text' %></p>
        </div>
        <div class='subteam-img3'>
          <%= image_tag "member/webdev.png" %>
        </div>
      </div>
    </div>
  </div>
</div>