<%
  # META
  set_meta_tags :title => t('team.index.meta'), :reverse => true
  set_meta_tags :description => '', :reverse => true
%>

<%= stylesheet_link_tag "team/index", :media => "all" %>

<%= link_to t('navbar.title.teams.team1'), team_aerostructures_path %>
<%= link_to t('navbar.title.teams.team2'), team_avionics_path %>
<%= link_to t('navbar.title.teams.team3'), team_resources_path %>
<%= link_to t('navbar.title.teams.team4'), team_webdevelopers_path %>

<div class="lead">
    <div>
        <%= image_tag "leads/rory.JPG" %>
    </div>
    <div>
        <h3><%= t 'team.index.leads.project' %></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis iste quidem nulla nisi incidunt obcaecati aliquam architecto velit. Natus sint nulla soluta obcaecati. Autem magnam in tempore, ipsum aliquid error.</p>
    </div>
</div>