<% content_for :head do %>
  <%= stylesheet_link_tag "team/index", :media => "all" %>
<% end %>
<%
  # META
  set_meta_tags :title => t('team.index.meta'), :reverse => true
  set_meta_tags :description => '', :reverse => true
%>

<%= link_to t('navbar.title.teams.team1'), team_aerostructures_path %>
<%= link_to t('navbar.title.teams.team2'), team_avionics_path %>
<%= link_to t('navbar.title.teams.team3'), team_resources_path %>
<%= link_to t('navbar.title.teams.team4'), team_webdevelopers_path %>

<h1>team page</h1>
