<%= link_to 'Aerostructure', team_aerostructure_path %>
<%= link_to 'Avionics', team_avionics_path %>
<%= link_to 'C', team_C_path %>
<%= link_to 'D', team_D_path %>
<%= link_to 'E', team_E_path %>

<h1>team page</h1>
