<%
  # META
  set_meta_tags :title => t('team.index.meta'), :reverse => true
  set_meta_tags :description => '', :reverse => true
%>

<%= stylesheet_link_tag "team/index", :media => "all" %>

<div class="team-page">
  <div class="lead">
    <div>
        <%= image_tag "leads/rory.JPG" %>
    </div>
    <div>
        <h3><%= t 'team.index.leads.project' %></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis iste quidem nulla nisi incidunt obcaecati aliquam architecto velit. Natus sint nulla soluta obcaecati. Autem magnam in tempore, ipsum aliquid error.</p>
    </div>
</div>
<div class="lead">
    <div>
        <h3><%= t 'team.index.leads.technical' %></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis iste quidem nulla nisi incidunt obcaecati aliquam architecto velit. Natus sint nulla soluta obcaecati. Autem magnam in tempore, ipsum aliquid error.</p>
    </div>
    <div>
      <%= image_tag "leads/aditya.JPG" %>
    </div>
</div>
<div class="collapse-boxes">
  <div class="aerostructures team">
    <div>
        <button class="link-button" data-toggle="collapse" data-target="#aerostructures" aria-expanded="true" aria-controls="aerostructures">
          <%= t 'team.index.teams.aerostructures'%>
        </button>
    </div>
    <%= render 'team/aerostructures' %>
  </div>
  <div class="avionics team">
    <div>
      <button class="link-button" data-toggle="collapse" data-target="#avionics" aria-expanded="true" aria-controls="avionics">
        <%= t 'team.index.teams.avionics'%>
      </button>
    </div>
    <%= render 'team/avionics' %>
  </div>
  <div class="resources team">
    <div>
      <button class="link-button" data-toggle="collapse" data-target="#resources" aria-expanded="true" aria-controls="resources">
        <%= t 'team.index.teams.resources'%>
      </button>
    </div>
    <%= render 'team/resources' %>
  </div>
  <div class="web team">
    <div>
      <button class="link-button" data-toggle="collapse" data-target="#web" aria-expanded="true" aria-controls="web">
        <%= t 'team.index.teams.web'%>
      </button>
    </div>
  </div>
    <%= render 'team/webdevelopers' %>
  </div>
</div>