<footer class="site-footer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="footer-container">
        <div class="container-flex">
            <div class="sunstratos">
                <div class="logo">
                    <%= image_tag('logo/sunstratos_logo_dark_backgorund.webp', alt: 'sunstratos-logo') %>
                </div>
                <div class='email'>
                    <%= mail_to "sunstratos@sheffield.ac.uk" do %>
                        <span>sunstratos@sheffield.ac.uk</span>
                    <% end %>
                </div>
            </div>
            <div class='links'>
                <div class='links-more'>
                    <h2><%= t 'footer.links.title' %></h2>
                </div>
                <ul class='page-links'>
                    <li><%= link_to t('footer.links.quicklinks.project'), project_path %></li>
                    <li><%= link_to t('footer.links.quicklinks.team'), team_path %></li>
                    <li><%= link_to t('footer.links.quicklinks.idea'), idea_path %></li>
                    <li><%= link_to t('footer.links.quicklinks.achievements'), achievement_path %></li>
                    <li><%= link_to t('footer.links.quicklinks.recruitment'), recruitment_path %></li>
                    <li><%= link_to t('footer.links.quicklinks.contact'), new_contact_path %></li>
                </ul>
            </div>
            <div class='quote'>
                <div class='quote-h2'>
                    <h2><%= t 'footer.quote.title' %></h2>
                </div>
                <div class='quote-desc'>
                    <p><%= t 'footer.quote.desc' %></p>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-flex2">
            <div class='logos'>
                <div class="sheff-logo">
                    <%= link_to image_tag('organisations/sheffieldlogo.webp', alt: 'sheffield-logo'), "https://www.sheffield.ac.uk/" %>
                </div>
                <hr>
                <div class='logo-flex'>
                    <div class="projects-logo">
                        <li><%= link_to image_tag('organisations/sunridelogo.webp', alt: 'sunride-logo'), "https://sunride.sites.sheffield.ac.uk/" %></li>
                        <li><%= link_to image_tag('organisations/ssilogo.webp', alt: 'ssi-logo'), "https://ssi.sites.sheffield.ac.uk/" %></li>
                    </div>
                    <div class='iforge'>
                        <%= link_to image_tag('organisations/iforgelogo.webp', alt: 'iforge-logo'), "https://iforgesheffield.org/" %>
                    </div>
                </div>
            </div>
            <div class='social-media'>
                <ul class="social-icons">
                    <li><a target="_blank" rel="noopener" class="facebook" href="https://www.facebook.com/Sunstratos2020/"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" rel="noopener" class="twitter" href="https://twitter.com/stratossun?lang=en-GB"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" rel="noopener" class="instagram" href="https://www.instagram.com/sunstratosproject/?hl=en"><i class="fa fa-instagram"></i></a></li>
                    <li><a target="_blank" rel="noopener" class="linkedin" href="https://www.linkedin.com/company/sunstratos/mycompany/"><i class="fa fa-linkedin"></i></a></li> 
                </ul>
            </div>
        </div>
        <div class='copyr'>
                <p><%= t 'footer.copyright' %></p>
        </div>
    </div>
</footer>