<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <img src="/assets/logo/sunstratos_logo_dark_backgorund.png" alt="SunStratos" height="47px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav">
        <li class="nav-item" id="navbar-home">
          <label class="nav-link active" ><%= link_to t('navbar.title.home'), root_path %>
            <span class="visually-hidden">(current)</span>
          </label>
        </li>
        <li class="nav-item">
          <label class="nav-link"><%= link_to t('navbar.title.project'), project_path %></label>
        </li>
        <li class="nav-item dropdown">
          <label class="nav-link dropdown-toggle" data-bs-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= link_to t('navbar.title.teams.team'), team_path %></label>
            <div class="dropdown-menu">
              <label class="dropdown-item"><%= link_to t('navbar.title.teams.team1'), team_aerostructures_path %></label>
              <label class="dropdown-item"><%= link_to t('navbar.title.teams.team2'), team_avionics_path %></label>
              <label class="dropdown-item"><%= link_to t('navbar.title.teams.team3'), team_resources_path %></label>
              <label class="dropdown-item"><%= link_to t('navbar.title.teams.team4'), team_webdevelopers_path %></label>
            </div>
        </li>
        <li class="nav-item">
          <label class="nav-link"><%= link_to t('navbar.title.idea'), idea_path %></label>
        </li>
        <li class="nav-item">
          <label class="nav-link"><%= link_to t('navbar.title.achievement'), achievement_path %></label>
        </li>
        <li class="nav-item">
          <label class="nav-link"><%= link_to t('navbar.title.recruitment'), recruitment_path %></label>
        </li>
        <li class="nav-item">
          <label class="nav-link"><%= link_to t('navbar.title.contact'), contact_path %></label>
        </li>
      </ul>
    </div>
  </div>
</nav>