<!DOCTYPE html>
<html>
  <head>
    <title>SunStratos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <script type="text/javascript" src="bootstrap/bootstrap.js" charset="UTF-8"></script>
    <script type="text/javascript" src="jquery/jquery.js" charset="UTF-8"></script>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
</html>
